createLibraries/createLibraries.sln
createLibraries/.vs/createLibraries/v16/.suo
createLibraries/.vs/createLibraries/v16/Browse.VC.db
createLibraries/.vs/createLibraries/v16/Browse.VC.db-shm
createLibraries/.vs/createLibraries/v16/Browse.VC.db-wal
createLibraries/.vs/createLibraries/v16/Browse.VC.opendb
createLibraries/.vs/createLibraries/v16/ipch/AutoPCH/fdd5809f9ec0f09e/UNIONFIND.ipch
createLibraries/createLibraries/createLibraries.vcxproj
createLibraries/createLibraries/createLibraries.vcxproj.filters
createLibraries/createLibraries/createLibraries.vcxproj.user
createLibraries/createLibraries/Debug/createLibraries.exe.recipe
createLibraries/createLibraries/Debug/createLibraries.log
createLibraries/createLibraries/Debug/UnionFind.obj
createLibraries/createLibraries/Debug/vc142.idb
createLibraries/createLibraries/Debug/vc142.pdb
createLibraries/createLibraries/Debug/createLibraries.tlog/CL.command.1.tlog
createLibraries/createLibraries/Debug/createLibraries.tlog/CL.read.1.tlog
createLibraries/createLibraries/Debug/createLibraries.tlog/CL.write.1.tlog
createLibraries/createLibraries/Debug/createLibraries.tlog/createLibraries.lastbuildstate
createLibraries/createLibraries/Debug/createLibraries.tlog/link.command.1.tlog
createLibraries/createLibraries/Debug/createLibraries.tlog/link.read.1.tlog
createLibraries/createLibraries/Debug/createLibraries.tlog/link.write.1.tlog
debug/debug/debug.exe
debug/debug/debug.ilk
debug/debug/debug.pdb
debug/debug/debug.vcxproj
debug/debug/debug.vcxproj.filters
debug/debug/debug.vcxproj.user
debug/.vs/debug/v16/Browse.VC.db
debug/.vs/debug/v16/Browse.VC.db-shm
debug/.vs/debug/v16/Browse.VC.db-wal
debug/.vs/debug/v16/Browse.VC.opendb
debug/.vs/debug/v16/ipch/AutoPCH/42c817c7f65ce153/TEST.ipch
debug/debug/test.cpp
debug/debug/bits/stdc++.h
debug/debug/Debug/debug.exe.recipe
debug/debug/Debug/debug.log
debug/debug/Debug/test.obj
debug/debug/Debug/vc142.idb
debug/debug/Debug/vc142.pdb
debug/debug/Debug/debug.tlog/CL.command.1.tlog
debug/debug/Debug/debug.tlog/CL.read.1.tlog
debug/debug/Debug/debug.tlog/CL.write.1.tlog
debug/debug/Debug/debug.tlog/debug.lastbuildstate
debug/debug/Debug/debug.tlog/link.command.1.tlog
debug/debug/Debug/debug.tlog/link.read.1.tlog
debug/debug/Debug/debug.tlog/link.write.1.tlog
debug/*